/* CONFIGURATION */

/* Logo */
.main-logo { 
  position: relative; 
  float: left; 
}
@media screen and (max-width:730px) {
  .main-logo { 
    display:none 
  }
}

/* Forum */
div.embedded, iframe { 
  height: 100%; 
  width: 100% 
}
div.embedded { 
  min-height: 800px; 
  padding-top: 40px; 
  padding-left: 20px; 
  padding-right: 20px; 
}

/* Bodytext font */
$font: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Font for headings */
$fontheadings: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Text colors */
$text: #21272d;
$textmuted: #848484;
$accent: #2077b2;


/* IMPORT CSS FILES */
@import "bootstrap";
@import "base";
@import "nav";
@import "article";
@import "icons";
@import "syntax";
@import "responsive";
