/* CONFIGURATION */

/* Logo */
.main-logo { 
  position: relative; 
  float: left; 
}
@media screen and (max-width:730px) {
  .main-logo { 
    display:none 
  }
}

/* Forum */
div.embedded, iframe { 
  height: 100%; 
  width: 100% 
}
div.embedded { 
  min-height: 800px; 
  padding-top: 40px; 
  padding-left: 20px; 
  padding-right: 20px; 
}

/* Resources Table */
.resource-table tbody tr:nth-child(even) td, .resource-table tbody tr.even td {
    background:#e5ecf9;
}
.resource-table tbody, th, td {
    border: 1px solid black;
}
.resource-table tbody td:nth-child(3) {
    font-size: small;
}
.resource-table th {
    text-align: center;
    background: #2077b2;
    color: white;
}
.resource-table td {
    padding: 5px;
}

/* Social link fix */
.fb_iframe_widget span { 
  height: 26px !important; 
}

/* Bodytext font */
$font: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Font for headings */
$fontheadings: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Text colors */
$text: #21272d;
$textmuted: #848484;
$accent: #2077b2;


/* IMPORT CSS FILES */
@import "bootstrap";
@import "base";
@import "nav";
@import "article";
@import "icons";
@import "syntax";
@import "responsive";
