---
layout: page 
---

<img src="/images/laseredlambdas.jpg"/>
<p>A design for laser-cut lambdas that can be used to make earrings, keyrings, necklaces and other trinkets is available <a href="http://goo.gl/Bnpu8G" target="_blank">here</a>. Many <a href="http://hackerspaces.org/wiki/List_of_Hacker_Spaces" target="_blank">hackerspaces</a> have laser cutters, and laser cutting services are also available online.</p>

<p>The table below lists resources for learning more about functional programming and other useful subjects, which have been recommended by our members.</p>

<div class="resource-table">

  {{ content }}

</div>

</p>
<p>If there is something you would like to see added to this page, please send us a <a href="https://groups.google.com/d/contactowner/lambda-ladies-functional">message</a> or a <a href="https://github.com/lambdaladies/lambdaladies.com">pull request</a>.</p>

